body{background: black;}
#gtspwgg{
	background:black;
	position:absolute;
	top:0px;
	} 
img{width:10%;}
#gtsptzz{
	 background:green;
	 position:absolute;
	 top:25%;}
button{font-size: 40px;}
#gtspanniu{position: absolute;
	top: 50%;}
		
